#task 4.6

In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

#setup path

In [2]:
path=r'C:\Users\ranji\Downloads\Submitted tasks\Python_5\Instacart\Instacart-Basket-Analysis'

#importing products dataframe

In [3]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products.csv'), index_col = False)

#Step 3 - Import Pickle File

#Import orders_products_combined

In [4]:
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

#Step 4 - Check the Shape of imported Dataframe

In [5]:
df_ords_prods_combined.shape

(32434489, 11)

#Determine a suitable way to combine the orders_products_combined dataframe with your products data set

In [6]:
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

 #Check the shape of df_prods

In [7]:
df_prods.shape

(49693, 5)

#Check columns of df_prods

In [8]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

#Product_id matches in both dataframes - use this as the key to merge

In [10]:
df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [11]:
df_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

#step - 6 Confirm the results of the merge using the merge flag.

In [15]:
df_merged['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [16]:
df_merged.shape

(32434212, 15)

#step - 7 Export the newly created dataframe as orders_products_merged in a suitable format

#Exoprting df_merged as pickle file for its high compression rate

In [17]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))