In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

#Task 4.7 Step 1 - Exercise walk Through

#Importing Dataframe

#step up path

In [2]:
path=r'C:\\Users\\ranji\\Downloads\\Submitted tasks\\Python_5\\Instacart\\Instacart-Basket-Analysis'

In [3]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products.csv'), index_col = False)

In [4]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders.csv'), index_col = False)

#Import ords_prods_merged

In [5]:
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

#Create subset of first 1M rows

In [6]:
df = df_ords_prods_merged[:1000000]

# Check shape

In [7]:
df.shape

(1000000, 15)

# Using If Statements

# Define price_label function

In [8]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [9]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\ranji\AppData\Local\Temp\ipykernel_7252\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

# Applying price label on dataframe

In [10]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [11]:
df['prices'].max()

14.8

# If-Statements with the loc() Function

# Applying loc() function to dataframe

In [12]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\ranji\AppData\Local\Temp\ipykernel_7252\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [14]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [15]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

# If-Statements with For-Loops

# Counting number of orders per day

In [16]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [17]:
df_ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: orders_day_of_week, dtype: int64

In [18]:
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [19]:
result = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

print(result[:100])

# Instead of printing the entire result, i have choosen to print subset of it in order to avoid exceeding the output limit
# Print the first 100 items

['Regularly busy', 'Regularly busy', 'Regularly busy', 'Least busy', 'Least busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Least busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Least busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Least busy', 'Least busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Least busy', 'Regularly busy', 'Busiest day', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Busiest day', 'Least busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Busiest day', 'Regularly busy', 'Regularly busy', 'Least busy', 'Regularly busy', 'Least busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Least busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Regularly busy', 'Least busy', 'Regularly busy', 'Regularly busy']

In [20]:
df_ords_prods_merged['busiest_day'] = result

In [21]:
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22437387
Busiest day        6209632
Least busy         3787193
Name: busiest_day, dtype: int64

# Task Step 2 - Create a new column for busiest days using a suitable method.

# Create new if-statement for-loop for new requirements

In [22]:
result_v2 = []
for value in df_ords_prods_merged["orders_day_of_week"]:
    if value == 0 or value == 1:
        result_v2.append("Busiest days")
    elif value == 4 or value == 3:
        result_v2.append("Least busy days")
    else:
        result_v2.append("Regularly busy")

In [23]:
df_ords_prods_merged['busiest_days'] = result_v2

In [24]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Least busy days
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Least busy days
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy days
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Least busy days

#Task Step 3 Check the values of this new column for accuracy. Note any observations in markdown format.

In [25]:
df_ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly busy     12927461
Busiest days       11875462
Least busy days     7631289
Name: busiest_days, dtype: int64

#By comparing the original frequency counts, we can see that the calculated values align perfectly with the sums of each respective "grouping." For example, the total for the busiest days corresponds to the sum of value 0 and value 1, while the values for the least busy days add up to the sum of value 3 and value 4. This confirms that the loop executed correctly and accurately categorized the values as intended.

#Task Step 4 -Create a new column containing these labels called “busiest_period_of_day.”

#To check the frequency of values in the "order_hour_of_day" column,

In [26]:
df_ords_prods_merged['order_hour_of_day'].value_counts()

10    2764390
11    2738585
14    2691563
15    2664522
13    2663272
12    2620800
16    2537469
9     2456661
17    2089452
8     1719952
18    1637922
19    1259382
20     977017
7      891928
21     796362
22     634737
23     402612
6      290770
0      218942
1      115786
5       88057
2       69431
4       53283
3       51317
Name: order_hour_of_day, dtype: int64

#As per the client's request, we can group the 24 hours of the day into three segments based on order frequency:

Most orders: 10, 11, 14, 15, 13, 12, 16, 9
Average orders: 17, 8, 18, 19, 20, 7, 21, 22
Fewest orders: 23, 6, 0, 1, 5, 2, 4, 3
These groupings categorize the hours of the day based on the number of orders received during those time periods.

#Create a for-loop if statement using the above breakdown

In [28]:
hour_of_day = []

for value in df_ords_prods_merged["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    hour_of_day.append("Most orders")
  elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
    hour_of_day.append("Fewest orders")
  else:
    hour_of_day.append("Average orders")

In [29]:
df_ords_prods_merged['busiest_period_of_day'] = hour_of_day

In [30]:
df_ords_prods_merged[['order_hour_of_day', 'busiest_period_of_day']].head(10)

   order_hour_of_day busiest_period_of_day
0                  8        Average orders
1                  7        Average orders
2                 12           Most orders
3                  7        Average orders
4                 15           Most orders
5                  7        Average orders
6                  9           Most orders
7                 14           Most orders
8                 16           Most orders
9                  8        Average orders

# Task Step 5 - Print Frequency

In [ ]:
df_ords_prods_merged['busiest_period_of_day'].value_counts()

#The frequencies of the grouped values in the "busiest_period_of_day" column match the sums of the frequencies of the ungrouped values, confirming the correct application of the labels.

#Exporting as pickle file

In [31]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated.pkl'))